.taskList{
    width: 97%;
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E2E2E2;
    border-radius: 12px;
    margin-bottom: 8px;
}
.taskList.card{
    padding: 1%;
}

.checklistItem{
    width: 85%;
    overflow-wrap: break-word;
    font-size: small;
    margin-left: 2%;
    white-space: normal; 
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
}
.task-input p{
    font-size: small;    
    white-space: normal; 
    overflow-wrap: break-word;
}
.taskList img{
    cursor: pointer;
    margin: 1%;
}
.task-input{
    display: flex;
    width: 95%;
}
.task-input input{
    border: none;
    width: 100%;
    margin-left: 2%;
    outline: none;
}