
.share-logo{
    display: flex;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 2%;
}
.shareCard{
    width: 28%;
    border: #EDF5FE 2px solid;
    border-radius: 12px;
    position: absolute;
    top: 10%;
    left: 30%;
    width: 30%;
    padding-right: 4%;
    max-height: 80%;
    min-height: 450px;
    min-width: 500px;
    
}
.card.share{
    background-color: transparent;
    border: #EDF5FE 2px solid;
    border-radius: 12px; 
    min-width: 500px;
}

.card-row.listbox.share::-webkit-scrollbar {
    height: 6px ; 
    width: 8px;
  }
  
  .card-row.listbox.share::-webkit-scrollbar-track {
    background: white; 
  }
  
  .card-row.listbox.share::-webkit-scrollbar-thumb {
    background: #9CB7C5; 
    border-radius: 5px; 
  }
  
  .card-row.listbox.share::-webkit-scrollbar-thumb:hover {
    background: #9CB7C5; 
  }


  @media (max-width: 768px) {
    .sharePage {
      /* Adjust styles for smaller screens */
    }
  
    .share-logo {
      /* Adjust styles for smaller screens */
    }
  
    .share-logo img {
      /* Adjust styles for smaller screens */
    }
  
    .share-logo p {
      /* Adjust styles for smaller screens */
    }
  
    .shareCard {
      left: 2%;
      width: 500px;
      height: 80%;
      right: 2% !important;
      border: none;
    }
  
    .card.share {
      width: 100% !important;
      min-width: 100%;
      height: 80%;
      right: 2%;
      background-color: aqua !important;
    }
  }